/* .parallax1 {
  background-image: url("../../Images/olafsky.jpg");
  height: 89vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("../../Images/olafsky.jpg");
  height: 50vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("../../Images/olafsky.jpg");
  height: 50vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
