* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  justify-self: center;
  align-self: center;
  padding-bottom: 20vh;
  padding-left: 5vh;
}

.card {
  width: 350px;
  margin-left: 1em;
  margin-top: 1em;
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
}

.meet {
  grid-column: 1 / span 4;
  font-size: 7rem;
  justify-self: center;
  color: #c9a87b;
  font-weight: 300;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/* Add some padding inside the card container */

.cardImage {
  width: 375px;
  height: 375px;
  object-fit: cover;
}

.flipcard {
  position: relative;
  width: 375px;
  height: 375px;
  padding: 5px 5px;
  margin: 3vh;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .flipcard {
  transform: rotateY(180deg);
}

.flipcardFront,
.flipcardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardFront {
  background-color: #bbb;
  color: black;
}

.flipcardBack {
  background-color: #c9a87b;
  padding: 1vh;
  color: white;
  transform: rotateY(180deg);
}

.cardName {
  padding-top: 1vh;
}

.info {
  padding-top: 1vh;
}
